## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [2]:
import pandas as pd

In [3]:
# загружаем датасет

data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [5]:
sex = data['sex'].value_counts().reset_index()

print('Мужчин и женщин представлено в датасете')
print(sex)

Мужчин и женщин представлено в датасете
      sex  count
0    Male  21790
1  Female  10771

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [5]:
male = data[data['sex']=='Male']['age']
average_male_age = male.mean()

print(f'Средний возраст мужчин составляет {average_male_age}')

Средний возраст мужчин составляет 39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [6]:
usa_citizens = len(data[data['native-country'] == 'United-States'])
all_citizens = len(data) 
percent = usa_citizens/all_citizens * 100

print(f' Доля граждан составляет {percent}')

 Доля граждан составляет 89.5857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [7]:
more_than_50k = data[data['salary'] > '50K']['age']
average_more_than_50k = more_than_50k.mean()
std_more_than_50k = more_than_50k.std()

less_than_50k = data[data['salary'] > '50K']['age']
average_less_than_50k = less_than_50k.mean()
std_less_than_50k = less_than_50k.std()

print(f'Среднее значение кто получает более 50K в год составляет: {average_more_than_50k}')
print(f'Среднеквадратическое отклонение, кто получает более 50K в год составляет: {std_more_than_50k}')
print(f'Среднее значение кто получает менее 50K в год составляет: {average_less_than_50k}')
print(f'Среднеквадратическое отклонение, кто получает менее 50K в год составляет: {std_more_than_50k}')

Среднее значение кто получает более 50K в год составляет: 38.58164675532078
Среднеквадратическое отклонение, кто получает более 50K в год составляет: 13.640432553581341
Среднее значение кто получает менее 50K в год составляет: 38.58164675532078
Среднеквадратическое отклонение, кто получает менее 50K в год составляет: 13.640432553581341

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [10]:
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

more_than_50k = data[data['salary'] > '50K']

higher_education_count = more_than_50k[more_than_50k['education'].isin(higher_education)]

if len(more_than_50k) == len(higher_education_count):
    print('Правда')
else:
    print('Не правда')

Не правда

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [ ]:
sex = data.groupby('sex')['age'].describe()
race = data.groupby('sex')['race'].describe()

Asian = max(data[data['race'] == 'Asian-Pac-Islander']['age'])

print(f'Максимальный возраст мужчин расы Asian-Pac-Islander {Asian}')

 Максимальный возраст мужчин расы Asian-Pac-Islander 90

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [109]:
men = data[(data['sex'] == 'Male') & (data['salary'] > '50K')]

married_men = men['marital-status'].str.startswith('Married')
single_men = ~men['marital-status'].str.startswith('Married')

married_income = len(married_men)/len(men)
single_income = len(married_men)/len(men)

if married_income > single_income:
    print('Доля женатых выше')
else:
    print('Доля холостых выше')

доля холостых выше

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [41]:
max_hours_per_week = data['hours-per-week'].max()
print(f'Максимальное число часов человек работает в неделю {max_hours_per_week}')

quantity_max_hours = (data['hours-per-week'] == max_hours_per_week).sum()
print(f'Количество людей работающих максимальное количество часов в неделю составляет {quantity_max_hours} ')

workers_with_high_salary = data[(data['hours-per-week'] == max_hours_per_week) & (data['salary'] > '50k')]
percent_of_workers = len(workers_with_high_salary)/quantity_max_hours * 100

print(f'Процент зарабатывающи много равняется {percent_of_workers}')

Максимальное число часов человек работает в неделю 99
Количество людей работающих максимальное количество часов в неделю составляет 85
Процент зарабатывающи много равняется 100.0

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [ ]:
country = data.groupby(['native-country', 'salary'])['hours-per-week'].mean().reset_index()
print('Среднее время работы, зарабатывающих мало и много для каждой страны')
print(country)

Среднее время работы, зарабатывающих мало и много для каждой страны
   native-country salary  hours-per-week
0               ?  <=50K       40.164760
1               ?   >50K       45.547945
2        Cambodia  <=50K       41.416667
3        Cambodia   >50K       40.000000
4          Canada  <=50K       37.914634
..            ...    ...             ...
77  United-States   >50K       45.505369
78        Vietnam  <=50K       37.193548
79        Vietnam   >50K       39.200000
80     Yugoslavia  <=50K       41.600000
81     Yugoslavia   >50K       49.500000

[82 rows x 3 columns]

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [7]:
def assign_age(age):
    if 16 <= age <= 35:
        return 'young'
    elif 35 <= age <= 70:
        return 'adult'
    elif 70<= age <= 100:
        return 'retire'

data['AgeGroup'] = data['age'].apply(assign_age)

data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [8]:
filter_age_groups = data[data['salary'] > '50K']
count_age_groups = filter_age_groups.groupby('AgeGroup')['age'].sum().reset_index()
sort = count_age_groups.sort_values(by='age', ascending=False)

print(sort)

most_frequently = count_age_groups.max()

print(most_frequently)

  AgeGroup     age
0    adult  817153
2    young  397822
1   retire   41282
AgeGroup     young
age         817153
dtype: object

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [23]:
grouped = data.groupby('occupation')
occupation = grouped.value_counts()

def filter_func(grouped_data, condition_func):
    return grouped_data.filter(condition_func)

def condition(group):
    if group['age'].mean() <= 40 and (group['hours-per-week'] > 5).all(): 
        return True
    return False

filtered_df = filter_func(grouped, condition)
print(filtered_df.head())

       age    workclass  fnlwgt     education  education-num  \
442     24  Federal-gov  191073       HS-grad              9
1300    29  Federal-gov  301010  Some-college             10
14613   39  Federal-gov  227597       HS-grad              9
16111   24  Federal-gov  287988     Bachelors             13
18034   34  Federal-gov  172716          12th              8

           marital-status    occupation   relationship   race   sex  \
442         Never-married  Armed-Forces      Own-child  White  Male
1300        Never-married  Armed-Forces  Not-in-family  Black  Male
14613       Never-married  Armed-Forces  Not-in-family  White  Male
16111       Never-married  Armed-Forces  Not-in-family  White  Male
18034  Married-civ-spouse  Armed-Forces        Husband  White  Male

       capital-gain  capital-loss  hours-per-week native-country salary
442               0             0              40  United-States  <=50K
1300              0             0              60  United-States  <=50K
14613             0             0              50  United-States  <=50K
16111             0             0              40  United-States  <=50K
18034             0             0              40  United-States  <=50K